*{
   padding:0;
   margin: 0;

}
.navbar{
    background: linear-gradient(90deg,rgba(2,0,36,1) 0%,rgba(74,14,154,1) 35%,rgba(0,212,225,1) 100%);
    width: 100%;
    height: 56px;
}
.nav-link{
    color: rgb(240, 243, 246);
}
.img{
    width: 100px;
    height: 56px;
}


 .slider{
    width: 100%;
    height: 500%;
    overflow: hidden;
 }
 figure{
    position: relative;
    left: 0;
    width: 400%;
    animation: 10s slide infinite;
 }
 .slide{
    position: relative;
    width: 25%;
    float: left;
 }
 .slide img{
    width: 100%;
    height: 800px;
 }

 @keyframes slide{
    0%{
       left: 0;
    }
    10%{
        left: 0;
    }
    20%{
        left: -100%;
    }
    30%{
        left: -100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left: -200%;
    }
    55%{
        left: -300%;
    }
    65%{
        left: -300%;
    }
    66%{
        left: -200%;
    }
    74%{
        left: -200%;
    }
    85%{
        left: -100%;
    }
    90%{
        left: 0;
    }
    10%{
        left: 0;
    }
}
    
    .footer{
        background: linear-gradient(90deg,rgba(2,0,36,1) 0%,rgba(74,14,154,1) 35%,rgba(0,212,225,1) 100%);
        padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer.row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:rgb(244, 237, 237);
    font-size:0.8em;
    
    }
    
    .footer .row a{
    text-decoration:none;
    color:rgb(240, 237, 237);
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
