

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background: linear-gradient(
        90deg,
        rgb(1, 0, 16) 0%,
        rgb(40, 40, 41) 35%,
        rgb(81, 81, 81) 100%
      );
  width: 100%;
  height: 56px;
}
.nav-link {
  color: rgb(240, 243, 246);
}
.nav-link:hover {
    color: rgb(167, 169, 172);
  }
.img {
  width: 100px;
  height: 56px;
}

 body{
    background: linear-gradient(
        90deg,
        rgb(1, 0, 12) 0%,
        rgb(40, 40, 41) 35%,
        rgb(81, 81, 81) 100%
      ); 
      
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
form{
   width: 30%;
   background-color: white;
   padding: 50px;
   border-radius: 20px;
   margin-top: 150px;
}
.btn-primary{
    width: 100%;
    border:none;
    border-radius:50px ;
    background: linear-gradient(
        90deg,
        rgb(1, 0, 12) 0%,
        rgb(40, 40, 41) 35%,
        rgb(81, 81, 81) 100%
      ); 
}
.btn-primary:hover{
  color: rgb(133, 133, 136);
}
.form-control{
    color: rgba(0, 0, 0,.87);
    border-bottom-color: rgba(0, 0, 0,.42);
    box-shadow: none;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}
h4{
    font-size: 2rem;
    font-weight: 700;
}
.form-label{
    font-family: 800;
}

@media only screen and (max-width:600px){
    form{
        width: 100%;
    }
}


.footer {
  background: linear-gradient(
    90deg,
    rgb(1, 0, 12) 0%,
    rgb(40, 40, 41) 35%,
    rgb(81, 81, 81) 100%
  ); 
  padding: 100px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  height: 100px;
}

.footer.column {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(197, 15, 145) 35%,
    rgb(202, 40, 178) 100%
  );
  font-size: 0.8em;
}

.footer .column a {
  text-decoration: none;
  color: rgb(229, 237, 247);
  transition: 0.5s;
  font-size: 28px; /* Increase this value as needed */

}
.footer .row a {
  text-decoration: none;
  color: rgb(240, 244, 249);
  transition: 0.5s;
}

.footer .column a:hover {
  color: #86848c;
}
.footer .row a:hover {
  color: #8d8c95;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}